.textContainer {
    color: white;
    height: 20%;
    width: 300px;
    display: flex;
  }
  
  .activeContainer {
    display: flex;
  }
  
  .activeItem {
    display: flex;
    align-items: center;
  }
  
  .activeContainer img {
    padding-right: 20px;
  }
  
  .textContainer h2 {
    margin-bottom: 0px;
  }
  
